{% extends 'panel.twig' %}
{# @var dict \App\Service\Lang\ILanguagePack #}
{% block title %} {{ dict.websiteName }} - Admin Panel {% endblock %}

{% block sectionContent %}
    <h3 class="text-warning">Изберете една от опциите вдясно.</h3>
{% endblock %}

{% block panelSidebar %}
    {% embed 'partials/sidebar/sidebar.html.twig' %}
        {% block sidebarBody %}
            <section class="sidebar-item">
                <h4>{{ dict.products }}</h4>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" href="{{ path('create_product') }}">
                        {{ dict.addProduct }}
                    </a>
                    <a class="list-group-item list-group-item-action" href="{{ path('admin_browse_products') }}">
                        {{ dict.showAll }}
                    </a>
                </div>
            </section>
            <hr>
            <section class="sidebar-item">
                <h4>{{ dict.recipes }}</h4>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" href="{{ path('create_receipt') }}">
                        {{ dict.addReceipt }}
                    </a>
                    <a class="list-group-item list-group-item-action" href="{{ path('admin_browse_recipes') }}">
                        {{ dict.showAll }}
                    </a>
                </div>
            </section>
            <hr
            <section class="sidebar-item">
                <h4>{{ dict.categories }}</h4>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" href="{{ path('create_category') }}">
                        {{ dict.createCategory }}
                    </a>
                </div>
            </section>
            <hr>
            <section class="sidebar-item">
                <h4>{{ dict.users }}</h4>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" href="{{ path('users_observe') }}">
                        {{ dict.showAll }}
                    </a>
                </div>
            </section>
            <hr>
            <section class="sidebar-item">
                <h4>{{ dict.notifications }}</h4>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" href="{{ path('notify_all_users') }}">
                        {{ dict.notifyAll }}
                    </a>
                </div>
            </section>
            <hr>
            <section class="sidebar-item">
                <h4>{{ dict.questions }}</h4>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" href="{{ path('observe_questions') }}?size=10">
                        {{ dict.showAll }}
                    </a>
                </div>
            </section>
            <hr>
            <section class="sidebar-item">
                <h4>Logs</h4>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" href="{{ path('show_logs') }}?size=20">
                        Show Logs
                    </a>
                </div>
            </section>
        {% endblock %}
    {% endembed %}
{% endblock %}