{# @var localLang \App\Service\LocalLanguage #}
{# @var dict \App\Service\Lang\ILanguagePack #}

<ul class="pagination">
    {% set currentPage = page.pageable.page %}
    {% if queryParam is not defined %}{% set queryParam = '' %}{% endif %}
    <li class="page-item {% if currentPage < 2 %} disabled {% endif %}">
        <a class="page-link" href="?page={{ currentPage -1 }}&size={{ page.pageable.size }}{{ queryParam }}"
           tabindex="-1">{{ dict.previous }}</a>
    </li>

    {% if page.pages > 0 %}
        {% for pageIter in  range(1, page.pages ) %}
            <li class="page-item {% if currentPage ==  pageIter %} active {% endif %}"><a class="page-link"
                                                                                          href="?page={{ pageIter }}&size={{ page.pageable.size }}{{ queryParam }}">{{ pageIter }}</a>
            </li>
        {% endfor %}
    {% endif %}
    <li class="page-item {% if currentPage >=  page.pages %} disabled {% endif %}">
        <a class="page-link"
           href="?page={{ currentPage + 1 }}&size={{ page.pageable.size }}{{ queryParam }}">{{ dict.next }}</a>
    </li>
</ul>