{% extends 'admins/admin-panel.html.twig' %}
{# @var dict \App\Service\Lang\ILanguagePack #}
{# @var information \App\Service\TwigInformer #}
{# @var twigUtil \App\Utils\TwigUtil #}
{% block sectionContent %}
    <h2>{{ dict.edit }}: {{ model.productName }}</h2>
    <hr>
    <div class="row">
        <div class="col-md-6">
            {% embed 'admins/partials/product-form.html.twig' %} {% endembed %}
        </div>
        <div class="col-md-6">
            <div class="mt-2 mb-2">
                <h3>Add Image</h3>
                <form method="post" enctype="multipart/form-data" id="addImgForm"
                      action="{{ path('add_image_to_product', {'prodId':model.id}) }}">
                    <div class="form-group">
                        <label for="imgAlt">Img Description</label>
                        <input type="text" id="imgAlt" name="altMsg" required class="form-control" maxlength="100">
                    </div>
                    <div class="form-group">
                        <label for="imgFile">Select image up to 2MB</label>
                        <input type="file" id="imgFile" class="form-control" required name="image[file]">
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="token" value="{{ csrf_token('token') }}">
                        <button type="submit" class="btn btn-outline-dark">{{ dict.save }}</button>
                    </div>
                </form>
            </div>

            {% if gallery %}
                <h3>Gallery</h3>
                <div class="d-flex flex-wrap align-items-center justify-content-around gallery-images-holder pt-2">
                    {% for img in gallery.images %}
                        <div class="gallery-item smooth">
                            <img src="{{ img.imageUrl }}" width="100%" height="100%" alt="{{ img.altMessage }}">
                            <a href="{{ path('remove_image_from_gallery', {'id':img.id}) }}">remove</a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block sectionScripts %}
    <script src="{{ asset('style/js/img-preview.js') }}"></script>
    <script>
        ImagePreviewManager.attachEvent('productImage', 'imgPrev');
    </script>
    <script descr="Upload image file">

        $('#addImgForm').on('submit', function (e) {
            e.preventDefault();
            var url = $(this).attr('action');

            var data = new FormData(this); // <-- 'this' is your form element
            console.log(data);

            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    location.reload();
                },
                error: function (err) {
                    alert(err.responseJSON.message)
                }
            });

        });

    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/css/product-details.css') }}" type="text/css">
{% endblock %}