{# @var dict \App\Service\Lang\ILanguagePack #}
{# @var question \App\Entity\Question #}
{% extends 'base.html.twig' %}
{% block title %}{{ dict.websiteName }} - Въпрос{% endblock %}
{% block body %}
    <div class="container rounded bg-container mt-container pb-container">
        <h3>Въпрос от {{ question.fullName }}</h3>
        <small>{{ question.dateFormat }}</small>
        <hr>
        <div class="row">
            <div class="col-lg-9">
                <div class="p-2">
                    <ul class="list-group">
                        <li class="list-group-item">Име: {{ question.fullName }}</li>
                        <li class="list-group-item">Тел. номер: {{ question.phoneNumber }}</li>
                        {% if question.email %}
                            <li class="list-group-item">
                                Email: <a href="mailto:{{ question.email }}">{{ question.email }}</a>
                            </li>
                        {% endif %}
                        {% if question.user %}
                            <li class="list-group-item">
                                Потр. Име: <a href="{{ path('show_user', {'username':question.user.username}) }}">
                                    {{ question.user.username }}
                                </a>
                            </li>
                        {% endif %}
                        <br>
                    </ul>
                    <p>Въпрос: </p>
                    <div class="raw-content border border-light rounded p-2">{{ question.message }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}