{# @var product \App\Entity\Product #}
{# @var information \App\Service\TwigInformer #}

<h2>Контакти</h2>
<hr>
<p class="m-0">Имате ли въпроси относно {{ product.name }}?</p>
<small>Например поддържани размери на кутии или как да поръчате.</small>

<p class="mt-2">Можете да ни се обадите на номер: <strong>{{ information.contacts.phoneNumber }}</strong></p>
<p>Или можете да се свържете с нас по тези начини:</p>
<div class="d-md-flex w-50 flex-wrap justify-content-around">
    <div class="m-1 facebook-message-button-container display-none">
        <span class="btn btn-outline-primary facebook-message-button"><i class="fab fa-facebook"></i> Facebook</span>
    </div>
    <div class="m-1">
        <a href="https://wa.me/{{ information.contacts.whatsapp }}"
           target="_blank"
           class="btn btn-outline-success">
            <i class="fab fa-whatsapp"></i> Whatsapp
        </a>
    </div>
    <div class="m-1 show-on-mobile-only">
        <a class="btn btn-outline-viber"
           href="viber://chat/?number={{ information.contacts.whatsapp }}"
           target="_blank">
            <i class="fab fa-viber"></i>
            Viber
        </a>
    </div>
    <div class="m-1">
        <button id="quick-contact-btn" class="btn btn-outline-secondary">
            <i class="fa fa-envelope"></i> {{ dict.email }}
        </button>
    </div>
</div>