{# @var dict \App\Service\Lang\ILanguagePack #}
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="category">{{ dict.category }}</label>
        <select required id="category" name="create_product[categoryId]" class="form-control">
            <option disabled selected value="">Choose</option>
            {% for cat in categories %}
            {% set catId = null %}
            {% if model.category is defined %}
                {% set catId = model.category.id %}
            {% else %}
                {% set catId = model.categoryId %}
            {% endif %}
            <option value="{{ cat.id }}" {% if cat.id == catId %}selected {% endif %}>
                {{ twigUtil.categoryName(cat, dict.localLang) }}
            </option>
            {% endfor %}
        </select>
        {{ form_errors(form1.categoryId) }}
    </div>
    <div class="form-group">
        <label for="name">{{ dict.name }}</label>
        <input required id="name" maxlength="40" type="text" name="create_product[name]"
               value="{{ model.name }}" class="form-control">
        {{ form_errors(form1.name) }}
    </div>
    <div class="form-group">
        <label for="price">{{ dict.price }}</label>
        <input required id="price" type="number" step="any" name="create_product[price]" value="{{ model.price }}"
               class="form-control">
        {{ form_errors(form1.price) }}
    </div>
    <div class="form-group">
        <label for="taxIncluded">{{ dict.taxIncluded }}</label>
        <input id="taxIncluded" type="checkbox" name="create_product[taxIncluded]"
               {% if model.taxIncluded %}checked{% endif %}>
        {{ form_errors(form1.taxIncluded) }}
    </div>
    <div class="form-group">
        <label for="hidden">{{ dict.privateInfo }}</label>
        <input id="hidden" type="checkbox" name="create_product[hidden]"
               {% if model.hidden %}checked{% endif %}>
        {{ form_errors(form1.hidden) }}
    </div>
    <div class="form-group">
        <label for="productDescription">Description</label>
        <textarea rows="10" id="productDescription" name="create_product[productDescription]"
                  class="form-control">{{ model.productDescription }}</textarea>
        {{ form_errors(form1.productDescription) }}
    </div>
    <div class="form-group">
        <label for="productImage">Image</label>
        <input type="file" id="productImage" name="create_product[image]" class="form-control">
        {{ form_errors(form1.image) }}
        <br>
        <div style="max-width: 400px;">
            <img src="{% if model.imgPath is defined %}{{ model.imgPath }}{% endif %}" id="imgPrev" width="100%">
        </div>
    </div>
    <div class="form-group text-right">
        <input type="hidden" name="token" value="{{ csrf_token('token') }}">
        <button class="btn btn-outline-primary" type="submit">{{ dict.save }}</button>
    </div>
</form>