<link rel="stylesheet" type="text/css" href="{{ asset('style/css/footer-distributed-with-address-and-phones.css') }}">
<!--Thanks to Freebie: 5 Beautiful and Responsive Footer Templates for the footer design-->
{# @var information \App\Service\TwigInformer #}
<footer class="footer-distributed clearfix">
    <div class="footer-holder" style="max-width: 1300px; margin: 0 auto;">
        <div class="footer-left">
            <h3>Zatvar<span>achki</span></h3>
            <ul class="footer-links" style="list-style: none;">
                <li>
                    <form>
                        <label>BG
                            <input name="lang" type="radio" value="bg">
                        </label>
                        <label>EN
                            <input name="lang" type="radio" value="en">
                        </label>
                    </form>
                </li>
                <li>
                    <a href="{{ path('homepage') }}">
                        <span class="text-orange-hover smooth"> {{ dict.home }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('show_categories') }}">
                        <span class="text-orange-hover smooth">{{ dict.products }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('show_recipes') }}">
                        <span class="text-orange-hover smooth">{{ dict.recipes }}</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('contacts') }}">
                        <span class="text-orange-hover smooth">{{ dict.contacts }}</span>
                    </a>
                </li>
                {% if app.user %}

                    <li>
                        <a href="{{ path('security_logout') }}">
                            <span class="text-orange-hover smooth">{{ dict.logout }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('my_profile') }}">
                            <span class="text-orange-hover smooth text-uppercase">{{ app.user.username }}</span>
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('security_login') }}">
                            <span class="text-orange-hover smooth">{{ dict.login }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('security_register') }}">
                            <span class="text-orange-hover smooth">{{ dict.register }}</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
            <a href="https://www.linkedin.com/in/cyecize/" target="_blank" style="text-decoration: none;">
                <p class="footer-company-name">&copy; 2017 Изработено от Tsvetelin Yakimov </p>
            </a>
            <div class="footer-honorable-mentions">
                <div>
                    <small class="text-muted">
                        Contains icons from
                        <a href="https://www.flaticon.com/authors/freepik"
                           class="text-decoration-none"
                           title="Freepik"
                           target="_blank">
                            Freepik</a>.
                    </small>
                </div>
                <div>
                    <small class="text-muted">
                        View our
                        <a href="{{ path('privacy_policy') }}">privacy policy</a>
                        page.
                    </small>
                </div>
            </div>
        </div>

        <div class="footer-center" id="center-footer">
            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                    <p class="btn btn-primary btn-sm" id="edit-contact-info">
                        {{ dict.edit }} »
                    </p>
                {% endif %}
            {% endif %}
            <div>
                <i class="fas fa-map-marker-alt"></i>
                <p>{{ information.websiteInfo.address }}
                    <span>{{ information.websiteInfo.location }}</span>
                </p>
            </div>
            <div>
                <p>
                    <a class="t-white text-orange-hover smooth" href="tel:{{ information.contacts.phoneNumber }}">
                        <i class="fas fa-phone-alt"></i>
                        {{ information.contacts.phoneNumber }}
                    </a>
                </p>
            </div>
            <div>
                <p>
                    <a class="t-white text-orange-hover smooth" href="tel:{{ information.contacts.phoneNumber2 }}">
                        <i class="fas fa-phone-alt"></i>
                        {{ information.contacts.phoneNumber2 }}
                    </a>
                </p>
            </div>
            <div>
                <p>
                    <a class="t-white text-orange-hover smooth"
                       href="https://wa.me/{{ information.contacts.whatsapp }}"
                       target="_blank">
                        <i class="fab fa-whatsapp"></i>
                        Whatsapp
                    </a>
                </p>
            </div>
            <div class="show-on-mobile-only">
                <p>
                    <a class="t-white text-orange-hover smooth"
                       href="viber://chat/?number={{ information.contacts.whatsapp }}"
                       target="_blank">
                        <i class="fab fa-viber"></i>
                        Viber
                    </a>
                </p>
            </div>
            <div>
                <p>
                    <a class="t-white text-orange-hover smooth"
                       href="mailto:{{ information.contacts.email }}?Subject=Въпрос%20относно">
                        <i class="fa fa-envelope"></i>
                        {{ information.contacts.email }}
                    </a>
                </p>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <p>
                    <a href="{{ path('admin_panel') }}">{{ dict.adminPanel }}</a>
                </p>
            {% endif %}
        </div>

        <div class="footer-right" id="right-footer">

            <div id="about-us-footer">
                <p class="footer-company-about">
                    <span>{{ dict.aboutUs }}</span>
                    {{ information.websiteInfo.aboutUs }}
                </p>
                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="object-right">
                            <p class="btn btn-primary btn-sm" id="edit-about-us">
                                Редакция »
                            </p>
                        </div>
                    {% endif %}
                {% endif %}
            </div>

            <div class="footer-icons">
                {% if app.user and is_granted('ROLE_ADMIN') %}
                    {% for link in information.allSocialLinks %}
                        <div class="d-inline-block t-white">
                            <a href="{{ link.link }}" target="_blank"><i class="fab {{ link.icon }}"></i></a>
                            <div class="object-right">
                                <i class="far fa-edit social-link-edit" linkId="{{ link.id }}"
                                   aria-hidden="true"></i>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    {% for link in information.socialLinks %}
                        <div class="d-inline-block t-white">
                            <a href="{{ link.link }}" target="_blank"><i class="fab {{ link.icon }}"></i></a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</footer>
