{# @var product \App\Entity\Product #}
{# @var dict \App\Service\Lang\ILanguagePack #}
{# @var gallery \App\Entity\Gallery #}
{# @var information \App\Service\TwigInformer #}

<div class="row">
    <div class="col-md-5">
        <div class="image-container">
            <img id="productHighlightedPicture"
                 src="{{ product.imgPath }}"
                 alt="{{ product.name }}"
                 class="image product-image smooth">
        </div>

        {% if gallery %}
            <div class="d-flex flex-wrap align-items-center justify-content-around gallery-images-holder pt-2">
                <div class="gallery-item">
                    <img src="{{ product.imgPath }}" width="100%" height="100%" alt="{{ product.name }}">
                </div>
                {% for img in gallery.images %}
                    <div class="gallery-item smooth">
                        <img src="{{ img.imageUrl }}" width="100%" height="100%" alt="{{ img.altMessage }}">
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    </div>
    <div class="col-md-6 border-dark pt-1 product-description-holder bg-white">
        <div>
            <span class="font-weight-bold">{{ product.name }}</span>
        </div>
        <hr class="bg-trans-gray">
        <div>
            <div class="text-muted raw-content">{{ twigUtil.productDescription(product, dict.localLang) }}</div>
        </div>
        <hr class="bg-trans-gray">

        {% if product.price > 0 %}
           <div class="row">
               <div class="col-6">
                   <h5>
                       {{ dict.price }}:
                   </h5>
               </div>
               <div class="col-6">
                   <strong>{{ product.price|number_format(2, '.', ',') }} {{ dict.currency }}</strong>
                   <small>
                       {% if product.taxIncluded %}
                           {{ dict.taxIncluded }}
                       {% else %}
                           {{ dict.taxNotIncluded }}
                       {% endif %}
                   </small>
               </div>
           </div>

        {% endif %}
        <div class="row">
            <div class="col-6">
                <h5>
                    {{ dict.productCode }}:
                </h5>
            </div>
            <div class="col-6">
                <strong>P{{ product.id }} </strong>
            </div>
        </div>

        <div>
            <div class="fb-like" data-href="{{ url('product_details', {'prodId':product.id}) }}" data-width="50"
                 data-layout="standard" data-action="like" data-size="small" data-show-faces="true"
                 data-share="false"></div>
        </div>
        <div class="pt-2 pb-2">
            <a href="https://www.facebook.com/sharer/sharer.php?app_id={{ information.appId }}&amp;sdk=joey&amp;u={{ app.request.uri }}&amp;display=popup&amp;ref=plugin&amp;src=share_button"
               onclick="return !window.open(this.href, 'Facebook', 'width=640,height=580')"
               class="btn btn-sm btn-outline-primary">
                <i class="fab fa-facebook"></i> {{ dict.share }}
            </a>
        </div>
    </div>
</div>