{% extends 'base.html.twig' %}
{# @var information \App\Service\TwigInformer #}
{# @var twigUtil \App\Utils\TwigUtil #}
{# @var dict \App\Service\Lang\ILanguagePack #}

{% block title %}{{ dict.websiteName }} - {{ viewModel.product.name }}{% endblock %}

{% block ogType %}product{% endblock %}
{% block ogTitle %}{{ viewModel.product.name }}{% endblock %}
{% block ogImage %}{{ url('homepage')|trim('/', 'right') }}{{ viewModel.product.imgPath }}{% endblock %}
{% block ogDescription %}{{ dict.websiteName }}{% endblock %}
{% block facebookMetas %}
    <meta property="product:category"
          content="{{ twigUtil.categoryName(viewModel.product.category, dict.localLang ) }}"/>
{% endblock %}

{% block body %}

    <div class="container pt-2 max-width-container bg-container mt-container pb-container">
        {% block productSection %}
            <h2 class="fat-text">
                <span class="font-kirang-hearang" style="font-size: 1.4em;">{{ viewModel.product.name }}</span>
            </h2>
            <small>
                <a href="{{ path('category_details', {'catName':viewModel.product.category.latinName}) }}">
                    {{ twigUtil.categoryName(viewModel.product.category, dict.localLang) }}
                </a>
            </small>
            <hr>
            <section class="product-section clearfix" id="product-holding-section">
                <div class="row">
                    <div class="col-lg-9">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="mt-2 mb-2">
                                <a href="{{ path('edit_product', {'id':viewModel.product.id}) }}"
                                   class="btn btn-outline-dark">
                                    {{ dict.edit }}
                                </a>
                            </div>
                        {% endif %}
                        {% embed 'products/partials/Product/product-details.html.twig' with {'product':viewModel.product, 'gallery': viewModel.gallery} %} {% endembed %}
                        {% block additionalInfoSection %}
                            <section class="mt-2">
                                {% embed 'products/partials/Product/' ~ dict.localLang ~  '/additional-info.html.twig' with {'product':viewModel.product} %} {% endembed %}
                            </section>
                        {% endblock %}
                    </div>
                    {% embed 'partials/sidebar/sidebar.html.twig' %}
                        {% block sidebarBody %}
                            {% embed 'partials/sidebar/categories-sidebar-html.twig' with {'categories':viewModel.categories} %} {% endembed %}
                            {% embed 'partials/sidebar/similar-products.html.twig' with
                                {'categoryName':twigUtil.categoryName(viewModel.product.category, dict.localLang), 'products':viewModel.similar} %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                </div>
            </section>
        {% endblock %}
    </div>

    {% embed 'partials/modal/modal-template.html.twig' with {'modalId':'zoomImageModal'} %}
        {% block modalContent %}
            <img src="#" id="zoomedImage" style="max-width: 100%;" class="rounded">
            <p id="zoomedImageMsg"></p>
        {% endblock %}
    {% endembed %}

    {% embed 'partials/modal/modal-template.html.twig' with {'modalId':'contactUsModal'} %}
        {% block modalContent %}
            <div style="max-width: 400px;" class="m-auto">
                <h2>{{ dict.contacts }}</h2>
                {% embed 'partials/forms/contact-form-fields.html.twig' with {'about':viewModel.product.name ~ '\r\n'} %} {% endembed %}
            </div>
        {% endblock %}
    {% endembed %}

{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('style/css/product-details.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('style/js/product-details.js') }}"></script>
    <script src="{{ asset('style/js/contact-us-form.js') }}"></script>
    <script>
        var zoomImageModal = new ModalManager('zoomImageModal', '');
        var zoomedImage = $('#zoomedImage');
        var zoomedImageMsg = $('#zoomedImageMsg');
        zoomedImage.css('max-height', $(window).height() / 1.5);

        $('#productHighlightedPicture').on('click', function (e) {
            zoomedImage.attr('src', $(this).attr('src'));
            zoomedImageMsg.html($(this).attr('alt'));
            zoomImageModal.showModal();
        });
    </script>
    <script>
        var quickContactsModal = new ModalManager('contactUsModal', 'quick-contact-btn');
        $(function () {
           new ContactUsFormManager().initContactUsFormSpinnerModal(quickContactsModal);
        });
    </script>

    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2&appId={{ information.appId }}&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
