{# @var product \App\Entity\Product #}
{# @var information \App\Service\TwigInformer #}

<h2>Contacts</h2>
<hr>
<p class="m-0">Do have questions about {{ product.name }}?</p>
<small>Perhaps you want to know which sizes of cans our sealers support or how to buy.</small>
<p class="mt-2">You can ask us <a href="{{ path('contacts') }}?about=About Product: {{ product.name }}">here</a>.</p>
<p>Or call: {{ information.contacts.phoneNumber }}</p>

<div>
    <button id="quick-contact-btn" class="btn btn-outline-info">{{ dict.contacts }}</button>
</div>