{# @var dict \AppBundle\Service\Lang\ILanguagePack #}
{# @var twigUtil \AppBundle\Utils\TwigUtil #}
{% extends'base.html.twig' %}
{% block title %}{{ dict.websiteName }} - {{ twigUtil.categoryName(viewModel.category, dict.localLang) }}{% endblock %}

{% block body %}
    <div class="container rounded bg-container mt-container pb-container">
        <h2>{{ dict.products }}
            <small>({{ viewModel.productPage.itemsCount }})</small>
        </h2>
        <h4>{{ dict.category }}: {{ twigUtil.categoryName(viewModel.category, dict.localLang) }}</h4>
        <hr>
        <div class="row" style="margin-top: 30px;">
            <div class="col-lg-9">
                {% if viewModel.products|length < 1 %}
                    <h3 class="alert alert-warning">{{ dict.emptyCategory }}</h3>
                {% endif %}
                <div class="row">
                    {% for product in viewModel.products %}
                        {% embed 'products/partials/regular-product-card.html.twig' with {'product':product} %} {% endembed %}
                    {% endfor %}
                </div>
            </div>

            {% embed 'partials/sidebar/sidebar.html.twig' %}
                {% block sidebarBody %}
                    {% embed 'partials/sidebar/categories-sidebar-html.twig' with {'parentCategory':viewModel.category.parentCategory, 'categories':viewModel.categories} %}
                        {% block catSectionTitle %}
                            {{ twigUtil.categoryName(viewModel.category, dict.localLang) }}:
                        {% endblock %}
                    {% endembed %}
                {% endblock %}
            {% endembed %}
        </div>
        <div>
            {% embed 'partials/pagination.html.twig' with {'page':viewModel.productPage} %} {% endembed %}
        </div>
    </div>
{% endblock %}