<div style="margin: 0 auto; padding: 20px;">
    <h2>Имате въпрос</h2>
    <div>
        <h3>От:  {{ question.fullName }}</h3>
        <p>Дата: {{ question.dateFormat }}</p>
        <p>тел. номер: {{ question.phoneNumber }}</p>
        {% if question.user %}
            <p>Потр. име: {{ user.username }}.  Преглед на профила <a href="{{ url('show_user', {'username':user.username}) }}">тук</a>. </p>
        {% endif %}
        {% if question.email %}
            <p>Email: <a href="mailto:{{ question.email }}">{{ question.email }}</a></p>
        {% endif %}
    </div>
    <br>
    <div style="text-align: left;">
        <label for="message-box">Въпрос: </label><br>
        <p id="message-box">{{ question.message }}</p>
    </div>
    <br>
    <div>
        <p><a href="{{ url('question_details', {'qid':question.id}) }}">Преглед в сайта</a> </p>
    </div>
</div>